<div class="well">

    <div style="font-size:20px;">
        <span style="float:right">Type: <span class="label label-default">REGULAR</span></span>
        <span>Date: 23 feb 1004</span>
    </div>
    <br />
    <div class="input-group input-group-lg">
        <span class="input-group-addon alert-info">Status</span>
        <span class="input-group-addon alert-success">FINISHED</span>
    </div>

    <br />

    <div>
        <span style="float:right;font-size:26px;">
            Total: 23 LEI
        </span>
        <button class="btn btn-primary btn-lg">View details</button>
    </div>
</div>